.skill-info {
    display: flex;
    gap: 18px;
    margin-bottom: 24px;
  }
  
  .skill-info-group {
    min-width: 150px;
  }
  
  .skill-info-title {
    font-family: var(--resume-bold);
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .skill-info-description {
    margin-top: 4px;
    white-space: pre-wrap;
    font-size: 15.4px;
  }

  .skill{
    font-family: var(--resume-bold);
  }